.academic-module-header-content {
  margin: 0 0 0 10px;
  text-align: center;
  background-color: rgb(161, 161, 161);
  max-width: 246px;
  width: 100%;
  padding: 5px 0;
  border-radius: 2px;
}
.title {
  font-size: 16px;
  color: #fff;
}
