.menu {
  width: 250px;
  // height: 100%;
  // top: 90px;
  margin-left: 8px;

  z-index: 100;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  transition: all 0.3s;
  overflow-y: auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  &-button {
    display: flex;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    padding: 0 0 0 18px;
    background: #f0f0f0;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: #d6d3d3;
    }

    &-icon {
      font-size: 20px;
      margin-right: 10px;
    }

    &-text {
      font-size: 16px;
      font-weight: 500;
    }
  }
  .buttons-container {
    margin-top: 10px;
  }

  .action-button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
  }

  .action-button:hover {
    background: #d6d3d3;
  }
}
