.search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  margin-left: -2px;
  gap: 10px;
  border: 2px solid #000;
  height: 100%;
}

.input-container {
  position: relative;
  width: 70%;
}

.input {
  width: 100%;
  padding: 12px 40px 12px 20px;
  height: 50px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-button {
  position: absolute;
  right: -1px;
  top: 45%;
  border-radius: 4px;
  transform: translateY(-50%);
  background-color: #999999;
  border: none;
  color: white;
  padding: 12.5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 2px;
  cursor: pointer;
}

.btn:hover {
  color: #acacac;
}

.search-button:hover {
  color: #000;
}

.button {
  background-color: #646464;
  border: none;
  color: white;
  padding: 12.5px 15px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.table {
  border: 2px solid #000;
  overflow-y: auto;
  max-height: 450px;
}
